[package]
name = "ops-http"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
axum.workspace = true
serde.workspace = true
tracing.workspace = true
